In [11]:
import pandas as pd
import numpy as np

In [12]:
dataset = pd.read_csv("data.csv" ,encoding='unicode_escape')

In [13]:
dataset.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [14]:
dataset.shape

(541909, 8)

In [15]:
dataset.dropna()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [19]:
df = dataset.drop(['InvoiceDate','StockCode','InvoiceNo','Country','CustomerID','Quantity'],axis=1)

In [20]:
df.head()

                           Description  UnitPrice
0   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1                  WHITE METAL LANTERN       3.39
2       CREAM CUPID HEARTS COAT HANGER       2.75
3  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4       RED WOOLLY HOTTIE WHITE HEART.       3.39

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier 
from sklearn import metrics

In [9]:
abstract_list = []
score_list = []
row_count = 0
for row in list(r)[1:]:
    institute,score = row[0], row[1]
    if len(abstract.split()) > 0:
      institute_list.append(Description)
      score = float(UnitPrice)
      score_list.append(score)
      abstract = abstract.translate(string.punctuation).lower()

NameError: name 'r' is not defined

In [8]:
vectorizer = TfidfVectorizer(analyzer='word', ngram_range=(1,4),
                     min_df = 0, stop_words = 'english', sublinear_tf=True)

response = vectorizer.fit_transform(abstract_list)
classes = score_list
feature_names = vectorizer.get_feature_names()

clf = neighbors.KNeighborsRegressor(n_neighbors=1)
clf.fit(response, classes)
clf.predict(response)

NameError: name 'score_list' is not defined

In [ ]:
# df['vec'] = df['Y'] + df['Z']

In [ ]:
target =X

In [ ]:
features.info()

In [ ]:
# feature1 = pd.merge(features,newfeature)

In [ ]:

knn = KNeighborsClassifier(n_neighbors=10)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2)
assert X_train.shape[0] == y_train.shape[0]

In [ ]:
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)